<div id="<%= dom_id task %>">
  <div>
    <strong>Name:</strong>
    <%= task.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= task.description %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= task.status %>
  </div>

  <div>
    <strong>End date:</strong>
    <%= task.end_date %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= task.date %>
  </div>

</div>
